<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add a car</a><br />
<table>
    <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <td>Actions</td>

    </tr>
    <tr th:each="luxury : ${luxurys}">
    <td th:text="${luxury.year}"></td>
    <td th:text="${luxury.make}"></td>
    <td th:text="${luxury.model}"></td>
    <td>
        <a th:href="@{/update/{id}(id=${luxury.id})}">Update</a>
        <a th:href="@{/detail/{id}(id=${luxury.id})}">Details</a>
        <a th:href="@{/delete/{id}(id=${luxury.id})}">Delete</a>
    </td>
    </tr>
</table>

</body>
</html>